<div class="">
  <h1>All Users</h1>
  <div ng-repeat="user in usersIndex.users track by $index" class="admin-user-index row">
    <div class="col-md-4">
      <p><strong> {{ user.firstName }} {{ user.lastName }}</strong> </p>
      <p> {{ user.email }} </p>
    </div>
    <form class="col-md-5">
      <div>
        <label for="admin">Admin</label>
        <input type="checkbox" name="admin" ng-model="user.privileges.admin">
      </div>
      <div>
        <label for="admin">Add Stock</label>
        <input type="checkbox" name="admin" ng-model="user.privileges.addStock">
      </div>
      <div>
        <label for="admin">Stock View</label>
        <input type="checkbox" name="admin" ng-model="user.privileges.stockView">
      </div>
      <div>
        <label for="admin">User Edit</label>
        <input type="checkbox" name="admin" ng-model="user.privileges.userCrud">
      </div>
    </form>
    <div class="col-md-3">
      <button type="button" name="button" class="btn">Delete</button>
      <input type="submit" class="btn" value="Update">
    </div>
  </div>
</div>
