<div class="container view-expand">
  <h2>Login</h2>
  <form class="form-group" ng-submit="login.login()">

    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-globe" id="basic-addon1"></span>
      <input ng-model="login.user.email" type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-option-horizontal" id="basic-addon1"></span>
  <input ng-model="login.user.password" type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
</div>
    <input type="submit" value="Submit" class="loginButton">
  </form>
</div>
