<div class="landing-page-gradient">
<img src="./images/large-logo.png" alt="">
</div>
<div class="container">
  <div class="landing-page-hero-statement">
    <h1>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis turpis eu augue gravida ultricies."</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="placeholder-image"></div>
    </div>
    <div class="col-md-6">
      <p class="landing-page-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis turpis eu augue gravida ultricies. Aenean sed est fringilla, dapibus felis ac, mattis nunc. Duis at auctor dolor, ut euismod tortor. Phasellus condimentum velit ut tempor portal uitiso.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="landing-page-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis turpis eu augue gravida ultricies. Aenean sed est fringilla, dapibus felis ac, mattis nunc. Duis at auctor dolor, ut euismod tortor. Phasellus condimentum velit ut tempor portal uitiso.</p>
    </div>
    <div class="col-md-6">
      <div class="placeholder-image"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="placeholder-image"></div>
    </div>
    <div class="col-md-6">
      <p class="landing-page-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis turpis eu augue gravida ultricies. Aenean sed est fringilla, dapibus felis ac, mattis nunc. Duis at auctor dolor, ut euismod tortor. Phasellus condimentum velit ut tempor portal uitiso.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p class="landing-page-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis turpis eu augue gravida ultricies. Aenean sed est fringilla, dapibus felis ac, mattis nunc. Duis at auctor dolor, ut euismod tortor. Phasellus condimentum velit ut tempor portal uitiso.</p>
    </div>
    <div class="col-md-6">
      <div class="placeholder-image"></div>
    </div>
  </div>
</div>
