<div class="landing-page-gradient">
<img src="./images/large-logo-x.png" alt="">
</div>
<div class="container">
  <div class="landing-page-hero-statement">
    <h1>"The only market where you have <strong>complete</strong> control."</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div><img src="./images/market-up.png" class="placeholder-image-left"></div>
    </div>
    <div class="col-md-6">
      <h4 class="landing-page-content">A True Market Place</h4>
      <p class="landing-page-content">Market X is a true market place for the consumer, prices fluctuate based on demand and user actions resulting in prices varying in real time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="landing-page-content">Consistent Profit</h4>
      <p class="landing-page-content">Whilst it might be a true market place for the consumer, your level of profit will always be exactly as you determine. Don't leave the market to chance. </p>
    </div>
    <div class="col-md-6">
      <div><img src="./images/wallet.png" class="placeholder-image-left"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div><img src="./images/sold.png" class="placeholder-image-left"></div>
     </div>
    <div class="col-md-6">
      <h4 class="landing-page-content">More Stock Sold</h4>
      <p class="landing-page-content">Always got that stock in the back that you can't seem to get rid of? Well Market X will sort that out. By adjusting the prices in real-time according to our unique pricing formula stock will be flying off the shelf leaving you to produce or order more.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="landing-page-content">All Admin Access</h4>
      <p class="landing-page-content">With our simple admin interface you can track all the orders, events and price changes that are effecting your customers. Add more stock and see the prices reflect that in real-time.</p>
    </div>
    <div class="col-md-6">
      <div><img src="./images/admin.png" class="placeholder-image-left"></div>
    </div>
  </div>
</div>
