<div ng-show="productsShow.active" class="container view-expand">
  <h1>Product Details</h1>
  <h4>Views {{ productsShow.product.views.count }}</h4>
  <div class="col-md-5">
    <div class="image-red-wine">
      <img ng-src= "{{productsShow.product.labelImage}}" alt="{{productsShow.product.name }} image">
  </div>
  </div>
  <div class="col-md-7">
    <h2>{{ productsShow.product.name }}</h2>
    <h3 style="font-size: 3rem;" class="show-price" ng-class="{ lowerText: productsShow.product.price.livePrice < productsShow.product.price.retail, higherText: productsShow.product.price.livePrice > productsShow.product.price.retail }"><div ng-class="{ lower: productsShow.product.price.livePrice < productsShow.product.price.retail, higher: productsShow.product.price.livePrice > productsShow.product.price.retail }"></div>£{{ productsShow.product.price.livePrice | number: 2 }}</h3>
    <h3 class="show-price show-price-retail">£{{ productsShow.product.price.retail }}</h3>
    <p>{{ productsShow.product.info.color }}, {{ productsShow.product.info.grape }}, {{ productsShow.product.info.year }}</p>
    <p>{{ productsShow.product.location.region }}</p>
    <div class="col-md-3">
          <select class="select-class">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          </select>
        </div>
      <div class="col-md-9 show-buttons" ng-controller="UpdatePricesCtrl as update">
      <button type="button" name="button" class="btn basket-button">ADD TO BASKET</button>
      <button type="button" name="button" class="btn buy-button" ng-click="update.findProduct(productsShow.product._id)">BUY NOW</button>
    </div>
  </div>
  <div ng-show="!productsShow.active" class="container">
    <h1> 404 - Wine not found </h1>
  </div>
</div>
