// Import all of your scss files here
body {
  background-color: #F9F9F9;
}
//index
.navbar  {
  background: #D70909; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top, #D70909, #9F031B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, #D70909, #9F031B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, #D70909, #9F031B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #D70909, #9F031B);
  border-radius: 0;
  border: none;
}

.landing-page-navbar {
  background-color: #f5f5f5;
  height: 60px;
  text-align: center;
  h3 {
    margin-left: 20%;
    display: inline-block;
    color: #9F031B;
  }
  button {
    margin-top: 8px;
    margin-right: 50px;
    padding: 10px 28px;
    border: solid 1px #9F031B;
    background-color: #f5f5f5;
    color: #9F031B;
    border-radius: 5px;
    float: right;

    &:hover {
      background-color: #9F031B;
      color: #f5f5f5;
    }
    &:focus {
      display: none;
    }
  }
}

.navbar-nav {
  a {
    color: #f5f5f5 !important;
    &:hover {
      color: #129F00 !important;
    }
  }
}
.navbar-default .navbar-brand {
  color: #f5f5f5;
}

.landing-page-gradient {
  width: 100%;
  height: 400px;
  background: #D70909; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to top, #D70909, #9F031B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to top, #D70909, #9F031B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to top, #D70909, #9F031B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #D70909, #9F031B);
  img {
    margin: 0 auto;
    display: flex;
    width: 300px;
    padding-top: 50px;
  }
}


.landing-page-hero-statement {
  text-align: center;
  color: #9F031B;
  h1 {
    padding: 60px;
  }
}

.placeholder-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}

.landing-page-content {
  padding: 30px;
  font-size: 1.9rem;
}

.footer {
  text-align: center;
  height: 60px;
  margin-top: 80px;
  background-color: lightgrey;
  p {
    padding: 20px;
    margin: 0 auto;
  }
}

// wines
.wines-card {
  text-align: center;
  width: 300px;
  margin: 10px;
  height: 300px;
  background-color: white;
  box-sizing: border-box;
  border: solid 1px #9F031B;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  height: 480px;
  max-height: 100%;
}

.modalButton {
  float:none !important;
  margin-right: 0 !important;
  margin-top: 8px !important;
  // margin-right: 50px !important;
  padding: 10px 28px !important;
  border: solid 1px #9F031B !important;
  background-color: #f5f5f5 !important;
  color: #9F031B !important;
  border-radius: 5px !important;
  // float: right !important;

  &:hover {
    background-color: #9F031B !important;
    color: #f5f5f5 !important;
  }
  &:focus {
    display: none !important;
  }
}


.modal-footer {
  text-align: center !important;
}

modal-title {
  text-align: center;
  // margin-left: 12px !important;
}

h4 {
  margin-left: 120px !important;
  font-size: 28px;
}


//view Expand
.view-expand {
  min-height: 70vh;
}


.admin-user-index {
  min-height: 80px;
  // max-width: 90%;
  background-color: lightgrey;
  p {
    margin-top: 25px;
    // width: 48%;
    display: inline-block;
    // padding: 20px 15px;
    font-size: 1.8rem;
  }
  button {
    margin: 20px 10px;
    float: right;
    display: inline-block;
    background-color: lightgrey;
    border: solid 1px #9F031B;
    color: #9F031B;
    &:hover {
      background-color: #9F031B;
      border: solid 1px #9F031B;
      color: white;
    }
  }
  form {
    margin-top: 15px;
    // margin-left: 10%;
    display: block;
    div {
      vertical-align: top;
      padding: 5px 10px;
      display: inline-block;
      label {
        display: block;
      }
      input {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.header-label {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-decoration: underline;
}

.button-general {
  margin: 30px 10px;
  float: right;
  // display: inline-block;
  background-color: #f5f5f5;
  border: solid 1px #9F031B;
  color: #9F031B;
  &:hover {
    background-color: #9F031B;
    border: solid 1px #9F031B;
    color: white;
  }
}

.stock-header {
  h1 {
    display: inline-block;
  }
}

.glyphicon-eye-open {
  font-size: 25px;
  margin-right: 75%;
  margin-top: 5%;
}
.label-spacing {
  label {
    margin: 10px 0;
  }
  input[type="range"] {
    margin-bottom: 15px;
  }
}

.input-group {
  span {
    position: static !important;
  }
  margin-bottom: 10px;
}

.loginButton {
  float:none !important;
  margin-right: 0 !important;
  margin-top: 8px !important;
  // margin-right: 50px !important;
  padding: 10px 28px !important;
  border: solid 1px #9F031B !important;
  background-color: #f5f5f5 !important;
  color: #9F031B !important;
  border-radius: 5px !important;
  // float: right !important;

  &:hover {
    background-color: #9F031B !important;
    color: #f5f5f5 !important;
  }
  &:focus {
    display: none !important;
  }
}
