<h1>SHOW USER</h1>
<h3> User Information </h3>
<table class="table table-striped table-responsive table-sm">
  <tr>
    <th style="text-align: left;">NAME</th>
    <td>{{ usersShow.user.firstName}} {{ usersShow.user.lastName}}</td>
  </tr>
<tr>
  <th style="text-align: left; width: 200px; border: 0 1px 0 0 solid black">EMAIL</th>
  <td>{{ usersShow.user.email }}</td>
</tr>
<tr>
  <th style="text-align: left;">ACCOUNT CREATION</th>
  <td>To be entered</td>
</tr>
</table>

<h5>Privileges</h5>



<h3> Orders </h3>
<h4> Current Orders </h4>
<h4> Past Orders </h4>

<h3> Basket </h3>
<h3> Watching </h3>
